body {
  color: white;
  background-color: black;
  margin: 0px;
}

header {
    border-bottom: solid 2px rgb(14, 124, 16);
    padding: 20px;
    font-size: 32px;
    color: rgb(162, 1, 1);
}

section {
  background: rgb(14, 5, 36);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

div {
  margin-right: 40px;
}